<section id="all-listings">
    <h1>Apartments for renting</h1>
    {{#each housings}}

    <div class="card">
        <h3>{{name}}</h3>
        <p>{{description}}</p>

        <div class="cta-container"><a href="/details/{{_id}}" class="details-link">Details</a></div>
        <div class="card_image"><img src="{{homeImg}}"></div>

    </div>

    {{else}}
    <div class="no-data-listing">
        <p class="no-offer">There are no housing offers found...</p>
    </div>
    {{/each}}

</section>